@import '../../styles/utils/breakpoints';

.container {
  display: flex;
  justify-content: center;
  .mainContainer {
    max-width: 1100px;
    width: 100%;
    margin: 20px;
    .linkContainer {
      a {
        color: #2c6ecb;
        cursor: pointer;
      }
      span {
        text-transform: capitalize;
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 34px;
      margin: 20px 0;
    }

    .contentContainer {
      display: flex;
      column-gap: 2%;
      .history {
        width: 69%;
        h1 {
          font-size: 30px;
          padding-bottom: 10px;
          border-bottom: 1px solid #000000;
          margin-bottom: 10px;
        }
      }
      .details {
        width: 29%;
        .detailsTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 10px;
          border-bottom: 1px solid #000000;
          margin-bottom: 10px;
          h1 {
            font-size: 30px;
          }
          p {
            color: #2c6ecb;
            cursor: pointer;
          }
        }
        .detailsData {
          display: flex;
          column-gap: 10px;
          margin-bottom: 10px;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

@include media-large {
  .container {
    .mainContainer {
      .contentContainer {
        column-gap: 0%;
        display: block;
        .history {
          width: 100%;
          margin-bottom: 50px;
        }
        .details {
          width: 100%;
        }
      }
    }
  }
}
